<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
</head>

<body>

    <h1>예약하기</h1>
    <hr>
    <form method="POST" action="/booking">
        <div>
            <label for="ownerid">고객 아이디</label>
            <input type="text" id="newownerid" placeholder="고객 id" name="ownerid" />
        </div>
        <div>
            <label for="roomno">Choose a room:</label>
            <select id="newroomno" name="roomno">
                <option value="1">중형1실</option>
                <option value="2">중형2실</option>
                <option value="3">중형3실</option>
                <option value="4">중형4실</option>
                <option value="5">대형5실</option>
                <option value="6">대형6실</option>
                <option value="7">대형7실</option>
                <option value="8" selected>대형8실</option>
            </select>
        </div>
        <div>
            <label for="bookingdate">오늘날짜</label>
            <input type="text" id="newbookingdate" placeholder="오늘 날짜" name="bookingdate" />
        </div>
        <div>
            <label for="chindate">checkin</label>
            <input type="text" id="newchindate" placeholder="YY/MM/DD" name="chindate" />
        </div>
        <div>
            <label for="choutdate">checkout</label>
            <input type="text" id="newchoutdate" placeholder="YY/MM/DD" name="choutdate" />
        </div>
        <div>
            <label for="cancel">입력창</label>
            <input type="text" id="newcancel" placeholder="0을 입력해 주세요" name="cancel" />
        </div>
        <div>
            <label for="dogname">강아지 이름</label>
            <input type="text" id="newdogname" placeholder="강아지 이름" name="dogname" />
        </div>
        <div>
            <label for="dogsize">강아지 몸무게</label>
            <input type="text" id="newdogsize" placeholder="강아지 몸무게" name="dogsize" />
        </div>
        <div>
            <label for="dogbreed">견종</label>
            <input type="text" id="newdogbreed" placeholder="견종" name="dogbreed" />
        </div>
        <div>
            <label for="price">총 금액</label>
            <input type="text" id="newprice" placeholder="총 금액" name="price" />
        </div>
        <button type="submit" onclick="insertbooking()">등록확인</button>
    </form>
    </div>
    <script>

        function insertbooking() {
            const xttp = new XMLHttpRequest();
            xttp.onreadystatechange = function () {
                if (this.responseText == 4 && this.status == 200) {
                    data = this.responseText;
                    data = JSON.parse(data)
                }
            };
            xttp.open("POST", "booking");
            xttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            alert("예약 확인 하러가세요!")

            book ="ownerid=" + document.getElementById("newownerid").value
                + "&roomno=" + document.getElementById("newroomno").value
                + "&bookingdate=" + document.getElementById("newbookingdate").value
                + "&chindate" + document.getElementById("newchindate").value
                + "&choutdate" + document.getElementById("newchoutdate").value
                + "&cancel" + document.getElementById("newcancel").value
                + "&dogname" + document.getElementById("newdogname").value
                + "&dogsize" + document.getElementById("newdogsize").value
                + "&dogbreed" + document.getElementById("newdogbreed").value
                + "&price" + document.getElementById("newprice").value;

            xttp.send(book);
        }
    </script>



</body>

</html>