<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 확인</title>
</head>
<body>
    <h2>ownerid로 예약정보 확인하기!</h2>

  
    <button onclick="infolist()">예약정보 보기</button>
    <br>
    <hr><br>
    ownerid : <input type="text" id="ownerid" placeholder="입력해!!"> <br>
    <div id="demo"></div>
    <br>
    <hr><br>


    <script>
                
        function infolist() {

            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    data = this.responseText;
                    data = JSON.parse(data);
                    console.log(data)

                    tab = `
                    <table border="1">
                        <tr><th>name</th><th>roomno</th><th>bookingdate</th><th>ckindate</th><th>ckoutdate</th><th>dogname</th><th>dogsize</th><th>dogbreed</th><th>price</th></tr>`;
                    // let bookingid;
                    let ownerid;
                    let roomno;
                    let bookingdate;
                    let checkindate;
                    let ckeckoutdate;
                    // let cancellation;
                    let dogname;
                    let dogsize;
                    let dogbreed;
                    let totalprice;
                    for (no in data) {
                        // bookingid = data[no].bookingid;
                        ownerid = data[no].ownerid;
                        roomno = data[no].roomno;
                        bookingdate = data[no].bookingdate;
                        checkindate = data[no].checkindate;
                        ckeckoutdate = data[no].ckeckoutdate;
                        // cancellation = data[no].cancellation;
                        dogname = data[no].dogname;
                        dogsize = data[no].dogsize;
                        dogbreed = data[no].dogbreed;
                        totalprice = data[no].totalprice;

                        tab = tab + `<tr>
                            <td>${ownerid}</td>
                            <td>${roomno}</td>
                            <td>${bookingdate}</td>
                            <td>${checkindate}</td>
                            <td>${ckeckoutdate}</td>
                            <td>${dogname}</td>
                            <td>${dogsize}</td>
                            <td>${dogbreed}</td>
                            <td>${totalprice}</td>
                        </tr>`;
                    }
                    tab = tab + `</table>`;
                    document.getElementById("demo").innerHTML = tab;
                };
            };
            xhttp.open("POST", "confirm");
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("ownerid=" + document.getElementById("ownerid").value);
        }
    </script>
</body>   

</html>

<!-- 
                            <td>${bookingid}</td>
                            <td>${cancellation}</td>

 -->