<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강아지 호텔 서비스</title>
    <style>
        .content {
          max-width: 500px;
          margin: auto;
        }
        </style>
</head>

<body>

    <div class="content">
    <h1 style="text-align: center;">그루네</h1>
    <img src="../static/images/doggy.jpg" width="500" alt="alternatetext">
    <br><hr><br>
    <button type='button' class="navyBtn" onclick="location.href='/about'"> About</button>
    <button type='button' class="navyBtn" onclick="location.href='/login'"> Login</button>
    <button type='button' class="navyBtn" onclick="location.href='/join'"> Join</button>
    <button type='button' class="navyBtn" onclick="location.href='/booking'"> Booking</button>
    <button type='button' class="navyBtn" onclick="location.href='/cancelation'"> Cancelation</button>
    <button type='button' class="navyBtn" onclick="location.href='/shop'"> Shop</button>
    <button type='button' class="navyBtn" onclick="location.href='/confirm'">reservation confirm</button>

    </div>

</body>

</html>