<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    join page
    <div>
        <form method="POST" action="/join">
            <div>
                <label for="ownerid">아이디</label>
                <input type="text" id="newownerid" placeholder="아이디" name="ownerid" />
            </div>
            <div>
                <label for="ownername">이름</label>
                <input type="text" id="newownername" placeholder="이름" name="ownername" />
            </div>
            <div>
                <label for="password">비밀번호</label>
                <input type="password" id="newpassword" placeholder="비밀번호" name="password" />
            </div>
            <div>
                <label for="email">이메일</label>
                <input type="text" id="newemail" placeholder="이메일" name="email" />
            </div>
            <div>
                <label for="address">주소</label>
                <input type="text" id="newaddress" placeholder="주소" name="address" />
            </div>
            <div>
                <label for="phoneno">전화번호</label>
                <input type="text" id="newphoneno" placeholder="전화번호" name="phoneno" />
            </div>
            <button type="submit" onclick="insertJoin()">등록</button>
        </form>
        <button tpe="submit" onclick="location.href='/login'">로그인</button>
    </div>

    <script>
        function insertJoin(){
            const xttp = new XMLHttpRequest();
            xttp.onreadystatechange = function(){
                if(this.responseText == 4 && this.status == 200){
                    data = this.responseText;
                    data = JSON.parse(data)
                }
            }

            xttp.open("POST", "join");
            xttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            alert("가입 성공")

            lee = "ownerid=" + document.getElementById("newownerid").value 
            + "&ownername=" + document.getElementById("newownername").value 
            + "&password=" + document.getElementById("newpassword").value 
            + "&email=" + document.getElementById("newemail").value 
            + "&address=" + document.getElementById("newaddress").value 
            + "&phoneno=" + document.getElementById("newphoneno").valu;
            xttp.send(lee);
        }
        
    </script>
</body>

</html>