<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    join page
    <div>
        <form method="POST" action="/join">
            <div>
                <label for="ownerid">아이디</label>
                <input type="text" id="ownerid" placeholder="아이디" name="ownerid" />
            </div>
            <div>
                <label for="ownername">이름</label>
                <input type="text" id="ownername" placeholder="이름" name="ownername" />
            </div>
            <div>
                <label for="password">비밀번호</label>
                <input type="password" id="password" placeholder="비밀번호" name="password" />
            </div>
            <div>
                <label for="email">이메일</label>
                <input type="text" id="email" placeholder="이메일" name="email" />
            </div>
            <div>
                <label for="address">주소</label>
                <input type="text" id="address" placeholder="주소" name="address" />
            </div>
            <div>
                <label for="phoneno">전화번호</label>
                <input type="text" id="phoneno" placeholder="전화번호" name="phoneno" />
            </div>
            <button type="submit">등록</button>
        </form>
    </div>
</body>

</html>